!!! 5
html
  head
    title moxboxx
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    .main-wrapper
      .wrapper
        h1 Not Allowed
        p
          a(href='/') Go back
