#footer-inner
  if moxes.length > 0
    a(href='javascript:;', id='play-playlist', title='Start playlist') play
    a(href='javascript:;', id='repeat-playlist', title='Repeat playlist') repeat

  script(type='text/javascript')
    var switchTo5x = true;
  script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
  script(type='text/javascript')
    stLight.options({ publisher: 'b37445ca-94cf-40b2-8953-31ff49293916' });
