extend minimal

block content
  section.bookmarklet-wrapper
    h1 Add to your playlist
    form(method='post', action='/mini/mox/')
      input(type='text', name='url', id='mox-url')
      select(name='playlist_id')
        for playlist in playlists
          option(value='#{playlist.id}')= playlist.title
      button(type='submit') Add
  script(type='text/javascript')
    if (document.location.href.indexOf('?success') > -1) {
      window.close();
    }
