!!! 5
html
  head
    title
      = 'moxboxx'
    meta(content='chrome=1', http-equiv='X-UA-Compatible')

    meta(property='og:title', id='meta-title', content='')
    meta(property='og:type', content='website')
    meta(property='og:url', id='meta-url', content='')
    meta(property='og:site_name', content='Moxboxx')
    meta(property='og:description', id='meta-description', content='')

    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='icon', type='image/gif', href='/favicon.gif')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4319539-42']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(style='background-image: url(#{background});', class='page-#{pageType}')
    #flash
    header
      if session.email
        a(href='/#/dashboard', id='logo', title='Home') moxboxx
      else
        a(href='/', id='logo', title='Home') moxboxx
      ul.actions
        if session.email
          if session.username
            li
              a(href='javascript:;') Playlists
              ul
                li
                  a(href='/playlist/new') Create Playlist
                li
                  a(href='/playlists/starred') View Starred
          li
            a(href='javascript:;') You
            ul
              if session.username
                li
                  a(href='/user/#{session.userId}') View Profile
              li
                a(href='/profile') Settings
              li
                a(href='#', id='logout') Sign out
        else
          li
            a(href='#', id='login') Sign in with Persona

    .main-wrapper
      .wrapper
        block content
    #footer
      #footer-inner
        a(href='javascript:;', id='play-playlist', title='Start playlist') play
        a(href='javascript:;', id='repeat-playlist', title='Repeat playlist') repeat

      a(href='http://noodleindustries.com', target='_blank', id="noodle-logo") Noodle Industries

    script(src='https://login.persona.org/include.js', type='text/javascript')
    script(src='/javascripts/require.js', data-main='/javascripts/main')
