!!! 5
html
  head
    title moxboxx
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(style='background-image: url(#{background});', class='page-#{pageType}')
    #flash
    .main-wrapper
      .wrapper
        block content
    script(src='/javascripts/require.js', data-main='/javascripts/main')
