extend layout

block content
  h1 Edit your username

  form(method='post', action='/profile', id='profile-edit')
    input(type='text', name='username', placeholder='Username', value='#{session.username || ''}')
    button(type='submit') Update
