/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */

html, body {
    position: relative;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPdotsUnicaseSquareBold';
    src: url('../fonts/BPdotsUnicaseSquareBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/images/back.png');
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-width: 500px;
    padding: 0 20px;
}

a {
    color: #2dbfd4;
    text-decoration: none;
}

p {
    clear: both;
}

a:hover {
    color: #6aecff;
}

form {
    clear: both;
    display: block;
    float: left;
    margin: 10px 0 20px 0;
    width: 525px;
}

#edit-playlist-title {
    width: 825px;
}

form label {
    clear: both;
    display: inline-block;
    float: left;
    font-size: 25px;
    margin: 20px 0 5px;
}

form label:first-child {
    margin-top: 0;
}

form input[type="file"] {
    clear: both;
    display: block;
    float: left;
}

form input[type="text"] {
    border: 2px dashed #ccc;
    border-radius: 5px;
    clear: both;
    display: block;
    float: left;
    font-size: 25px;
    padding: 5px;
    width: 510px;
}

form input[type="text"]:focus {
    border: 2px dashed #111;
    background-color: #dfff71;
}

form button {
    background-color: #659631;
    border: 0;
    border-radius: 5px;
    clear: both;
    color: #eee;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
}

.tip {
    background-color: #fdff7d;
}

.actions {
    position: fixed;
    right: 0;
    top: -2px;
    z-index: 5;
}

.actions li a {
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #333 1px 1px 3px;
    color: #333;
    padding: 10px 5px 5px 5px;
    text-align: center;
    min-width: 70px;
}

.actions > li > ul {
    display: none;
    position: absolute;
    right: 0;
    top: 49px;
}

.actions > li > ul li a {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 2px;
    min-width: 150px;
}

.actions li a:hover, #playlist-actions li a:hover, form button:hover,
#playlists > li a:hover, .item-actions a:hover, .playlist-edit:hover,
.playlist-edit-cancel:hover, .playlist-edit-save:hover,
.item-actions a.mox-delete:hover, .playlist-item .item-actions a:hover {
    background-color: #6aecff;
    color: #111;
    text-shadow: #fff 1px 1px 3px;
}

a.on, #playlist-actions a.on, header a.on {
    background-color: #6aecff;
    color: #111;
}

header a {
    color: #555;
    font-size: 16px;
}

.actions > li {
    float: left;
    font-size: 30px;
    position: relative;
}

.actions > li:hover, .actions li:focus {
    height: 200px;
}

.actions > li:hover ul, .actions > li a:focus + ul {
    display: block;
}

.playlist-edit, .playlist-edit-cancel, .playlist-edit-save {
    background-color: #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-left: 20px;
    padding: 3px 7px;
}

.playlist-edit-save {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

header {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 30px;
}

h2, h3, p, #playlists li,
#moxlist, form label {
    background: rgba(256, 256, 256, 0.83);
}

header a {
    display: inline-block;
    float: left;
    font-family: 'LeagueGothicRegular';
    font-size: 32px;
    margin-right: 25px;
}

#logo {
    background-color: transparent;
    color: #111;
    font-family: 'BPdotsUnicaseSquareBold';
    font-size: 30px;
    line-height: 25px;
    margin: 0;
    padding: 2px 0 5px 2px;
    text-shadow: #fff 1px 0 1px;
}

.page-index #logo {
    display: none;
}

h1, h2, h1 > input {
    color: #111;
    font-size: 40px;
}

h1, h1 > input {
    clear: both;
    display: inline-block;
    float: left;
    font-family: 'LeagueGothicRegular';
    margin-bottom: 20px;
    text-transform: uppercase;
}

.page-index .wrapper {
    margin-top: 40px;
}

.page-index h1 {
    color: #bfff43;
    float: left;
    font-family: 'BPdotsUnicaseSquareBold';
    font-size: 100px;
}

.page-index p {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

h1 > input {
    border: 2px dashed #ccc;
    border-radius: 5px;
}

time {
    background-color: #bbb;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 5px;
}

.item {
    position: relative;
}

#flash {
    background-color: #16c458;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #e6ffef;
    display: none;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    width: 495px;
    z-index: 4;
}

#flash.error {
    background-color: #f00;
    color: #ffd9d9;
}

.main-wrapper {
    margin: 0 auto;
    width: 870px;
}

.wrapper {
    background: rgba(256, 256, 256, 0.85);
    border-radius: 25px;
    clear: both;
    display: block;
    float: left;
    margin: 2px 0;
    min-height: 100px;
    padding: 30px 20px;
    width: 830px;
}

.page-bookmarklet .main-wrapper {
    width: 100%;
}

.page-bookmarklet .wrapper {
    margin-top: 10px;
    padding: 15px 20px 5px 20px;
    width: 450px;
}

.page-bookmarklet form {
    width: 440px;
}

.page-bookmarklet form button {
    margin: 5px;
}

.page-bookmarklet form input[type="text"] {
    width: 440px;
}

.page-bookmarklet form select {
    clear: both;
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}

.playlist-item {
    float: left;
    padding: 0 20px 0 0;
    position: relative;
    width: 210px;
}

.playlist-item h3 {
    font-size: 16px;
    margin: 10px 0;
}

.playlist-item img {
    border-radius: 5px;
    display: block;
    width: 100px;
}

.playlist-item time {
    margin-top: 10px;
}

.mox-items {
    float: left;
    margin-top: 10px;
    width: 525px;
}

.playlist-wrapper {
    clear: both;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#playlist-title form {
    display: inline;
    margin: 0;
}

#playlist-title form button {
    display: none;
}

#playlists {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 800px;
}

#playlists li {
    box-shadow: #eee -2px 0 3px;
    border-radius: 5px;
    clear: both;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 755px;
    white-space: nowrap;
}

#playlists li h2 {
    margin-bottom: 0;
}

#playlists > li a.playlist-title {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
}

#playlists > li:hover {
    background-color: #f1f1f1;
}

#playlists time {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 5px;
}

#playlists li.item h2 {
    float: left;
    font-size: 32px;
    line-height: 50px;
    width: 570px;
}

#playlists img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    width: 50px;
}

#moxlist {
    clear: both;
    color: #333;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
}

#moxlist li {
    height: 330px;
    position: relative;
}

#moxlist li, .object-wrapper {
    clear: both;
    float: left;
    margin: 0;
    padding: 2px 0;
}

.object-wrapper iframe {
    height: 295px;
    width: 525px;
}

.item-actions {
    position: absolute;
    right: -86px;
    top: 4px;
    width: 85px;
    z-index: 3;
}

.playlist-item .item-actions {
    clear: both;
    float: left;
    margin-top: 10px;
    position: relative;
    right: 0;
    text-align: center;
}

.playlist-item .item-actions a {
    border-radius: 8px;
    margin-bottom: 3px;
}

.item-actions a {
    background-color: #ff9c1c;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff4e5;
    display: block;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 1px;
    padding: 3px 3px 3px 6px;
}

.item-actions a.on {
    background-color: #3d3434;
}

.item-actions a.playlist-delete, .item-actions a.mox-delete {
    background-color: #f00;
}

.user-info p {
    background: none;
    margin-bottom: 5px;
}

#profile-edit {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#background-delete > .preview {
    border-radius: 200px;
    display: inline-block;
    height: 150px;
    margin-left: 20px;
    width: 150px;
}

#add-track {
    float: left;
    max-width: 525px;
}

.off, #edit-title.off {
    display: none;
}

#footer {
    background: rgba(17, 17, 17, 0.9);
    bottom: 0;
    left: 0;
    min-height: 20px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}
