/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */

html, body {
    position: relative;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/images/back.png');
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-width: 500px;
    padding: 0 20px;
}

a {
    color: #bde258;
    text-decoration: none;
}

p {
    clear: both;
}

a:hover {
    color: #6aecff;
}

form {
    clear: both;
    display: block;
    float: left;
    margin: 10px 0 20px 0;
    width: 525px;
}

form label {
    clear: both;
    display: inline-block;
    float: left;
    font-size: 25px;
    margin: 20px 0 5px;
}

form label:first-child {
    margin-top: 0;
}

form input[type="file"] {
    clear: both;
    display: block;
    float: left;
}

form input[type="text"] {
    border: 2px dashed #ccc;
    border-radius: 5px;
    clear: both;
    display: block;
    float: left;
    font-size: 25px;
    padding: 5px;
    width: 510px;
}

form input[type="text"]:focus {
    border: 2px dashed #111;
    background-color: #dfff71;
}

form button {
    background-color: #111;
    border: 0;
    border-radius: 5px;
    clear: both;
    color: #eee;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
}

.tip {
    background-color: #f2ffad;
}

.actions {
    position: fixed;
    right: 20px;
    top: -1px;
    z-index: 5;
}

.actions li {
    margin-right: 5px;
}

.actions li a {
    background-color: #eee;
    color: #333;
    padding: 10px 5px 2px 5px;
}

.actions li a:hover, #playlist-actions li a:hover, form button:hover,
#playlists > li a:hover {
    background-color: #6aecff;
    color: #111;
}

a.on, #playlist-actions a.on, header a.on {
    background-color: #6aecff;
    color: #111;
}

header a {
    color: #555;
    font-size: 16px;
}

.actions li {
    box-shadow: #ccc 1px 1px 1px;
    float: left;
    font-size: 30px;
    padding: 0;
}

header {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 30px;
}

header span, h1, h2, h3, p, #playlists li,
#moxlist, form label {
    background: rgba(256, 256, 256, 0.83);
}

header span {
    display: inline-block;
    float: left;
    font-family: 'LeagueGothicRegular';
    font-size: 35px;
    margin-right: 25px;
}

h1, h2 {
    font-size: 40px;
}

h1 {
    clear: both;
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

time {
    background-color: #ccc;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 5px;
}

.item {
    position: relative;
}

#flash {
    background-color: #16c458;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #e6ffef;
    display: none;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 70px;
    width: 495px;
}

#flash.error {
    background-color: #f00;
    color: #ffd9d9;
}

.wrapper {
    background: rgba(256, 256, 256, 0.85);
    clear: both;
    display: block;
    float: left;
    margin: 2px 0 0;
    min-height: 100px;
    padding: 0;
    width: 870px;
}

.playlist-item {
    float: left;
    padding: 0 20px 0 0;
    width: 210px;
}

.playlist-item h3 {
    font-size: 16px;
    margin: 10px 0;
}

.playlist-item img {
    clear: both;
    display: block;
    float: left;
    margin-right: 30px;
    width: 100px;
}

.playlist-item time {
    margin-top: 10px;
}

.mox-items {
    float: left;
    margin-top: 10px;
    width: 525px;
}

.playlist-wrapper {
    clear: both;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#playlists {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 800px;
}

#playlists li {
    clear: both;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

#playlists li .item-actions {
    top: 0;
}

#playlists li h2 {
    margin-bottom: 0;
}

#playlists > li a.playlist-title {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
}

#playlists > li:hover {
    background-color: #f1f1f1;
}

#playlists time {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 10px;
}

#playlists li.item h2 {
    float: left;
    font-size: 32px;
    line-height: 50px;
    width: 570px;
}

#playlists img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    width: 50px;
}

#moxlist {
    clear: both;
    color: #333;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
}

#moxlist li {
    height: 330px;
    position: relative;
}

#moxlist li, .object-wrapper {
    clear: both;
    float: left;
    margin: 0;
    padding: 2px 0;
}

.object-wrapper iframe {
    height: 295px;
    width: 525px;
}

.item-actions {
    background-color: #222;
    position: absolute;
    right: -102px;
    top: 25px;
    width: 100px;
    z-index: 3;
}

.item-actions a {
    display: block;
    line-height: 14px;
    padding: 5px;
}

#add-track {
    float: left;
    max-width: 500px;
}

#footer {
    background: rgba(17, 17, 17, 0.9);
    bottom: 0;
    left: 0;
    min-height: 20px;
    padding: 0;
    position: fixed;
    width: 100%;
}
