/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */

html, body {
    position: relative;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPdotsUnicaseSquareBold';
    src: url('../fonts/BPdotsUnicaseSquareBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/images/back.png');
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-width: 500px;
    padding: 0 20px;
}

a {
    color: #2dbfd4;
    text-decoration: none;
}

p {
    clear: both;
}

a:hover {
    color: #6aecff;
}

#login {
    background-color: #d8ff3e;
}

form {
    clear: both;
    display: block;
    float: left;
    margin: 10px 0 20px 0;
    width: 525px;
}

.page-index .boombox {
    display: block;
    float: none;
    margin: 0 auto;
    width: 300px;
}

.boombox img {
    display: block;
}

#edit-playlist-title {
    width: 825px;
}

#edit-playlist-title input {
    margin-bottom: 10px;
}

.edit .object-wrapper {
    height: 183px;
    margin-bottom: 5px;
    overflow: hidden;
}

.edit .object-wrapper iframe, .edit .object-wrapper object {
    height: 190px;
    margin-top: -3px;
}

form label {
    clear: both;
    display: inline-block;
    float: left;
    font-size: 25px;
    margin: 20px 0 5px;
}

form label:first-child {
    margin-top: 0;
}

form input[type="file"] {
    clear: both;
    display: block;
    float: left;
}

form input[type="text"] {
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: block;
    float: left;
    font-size: 25px;
    padding: 5px;
    width: 420px;
}

form input[type="text"]:focus {
    border: 2px dashed #111;
    background-color: #dfff71;
}

form button {
    background-color: #659631;
    border: 0;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    margin: 5px 15px;
    padding: 5px;
}

#profile-edit input[type="text"], #new-playlist input[type="text"] {
    clear: both;
}

#new-playlist input[type="text"], #edit-playlist-title input[type="text"] {
    width: 800px;
}

.tip {
    background-color: #fdff7d;
}

.actions {
    position: fixed;
    right: 0;
    top: -2px;
    z-index: 5;
}

.actions li a {
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #333 1px 1px 3px;
    color: #333;
    padding: 10px 5px 5px 5px;
    text-align: center;
    min-width: 70px;
}

.actions > li > ul {
    display: none;
    position: absolute;
    right: 0;
    top: 49px;
}

.actions > li > ul li a {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 2px;
    min-width: 150px;
}

.actions li a:hover, #playlist-actions li a:hover, form button:hover,
#playlists > li a:hover, .item-actions a:hover, .playlist-edit:hover,
.playlist-edit-cancel:hover, .playlist-edit-save:hover,
.item-actions a.mox-delete:hover, .playlist-item .item-actions a:hover,
#logo:hover, #playlist-tags li:hover, #pagination a:hover, #intro-link:hover {
    background-color: #6aecff;
    color: #111;
    text-shadow: #fff 1px 1px 2px;
}

#intro-link {
    display: inline-block;
    float: right;
}

a.on, #playlist-actions a.on, header a.on {
    background-color: #6aecff;
    color: #111;
}

header a {
    color: #555;
    font-size: 16px;
}

.actions > li {
    float: left;
    font-size: 30px;
    position: relative;
}

.actions > li:hover, .actions li:focus {
    height: 200px;
}

.actions > li:hover ul, .actions > li a:focus + ul {
    display: block;
}

.playlist-edit, .playlist-edit-cancel, .playlist-edit-save {
    background-color: #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-left: 20px;
    padding: 3px 7px;
}

.playlist-edit-save {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

header {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 30px;
}

h2, h3, p, #playlists li,
#moxlist, form label {
    background: rgba(256, 256, 256, 0.83);
}

header a {
    display: inline-block;
    float: left;
    font-family: 'LeagueGothicRegular';
    font-size: 32px;
    margin-right: 25px;
}

#logo {
    background-color: transparent;
    color: #111;
    font-family: 'BPdotsUnicaseSquareBold';
    font-size: 30px;
    line-height: 25px;
    margin: 0;
    padding: 2px 0 5px 2px;
    text-shadow: #fff 1px 0 1px;
}

.page-index #logo {
    display: none;
}

h1, h2, h1 > input {
    color: #111;
    font-size: 40px;
}

h1, h1 > input {
    clear: both;
    display: inline-block;
    float: left;
    font-family: 'LeagueGothicRegular';
    margin-bottom: 20px;
    text-transform: uppercase;
}

.page-index .wrapper {
    margin-top: 40px;
}

.page-index h1 {
    color: #bfff43;
    float: left;
    font-family: 'BPdotsUnicaseSquareBold';
    font-size: 100px;
}

.page-index p {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

h1 > input {
    border: 2px dashed #ccc;
    border-radius: 5px;
}

time {
    background-color: #bbb;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 5px;
}

.item {
    position: relative;
}

#flash {
    background-color: #16c458;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #e6ffef;
    display: none;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    width: 495px;
    z-index: 4;
}

#flash.error {
    background-color: #f00;
    color: #ffd9d9;
}

.main-wrapper {
    margin: 0 auto;
    width: 870px;
}

.wrapper {
    background: rgba(256, 256, 256, 0.85);
    border-radius: 25px;
    clear: both;
    display: block;
    float: left;
    margin: 2px 0 50px;
    min-height: 100px;
    padding: 30px 20px;
    width: 830px;
}

.page-bookmarklet .main-wrapper {
    width: 100%;
}

.page-bookmarklet .wrapper {
    margin-top: 10px;
    padding: 15px 20px 5px 20px;
    width: 450px;
}

.page-bookmarklet form {
    width: 440px;
}

.page-bookmarklet form button {
    margin: 5px;
}

.page-bookmarklet form input[type="text"] {
    width: 440px;
}

.page-bookmarklet form select {
    clear: both;
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}

.playlist-item {
    float: left;
    padding: 0 20px 0 0;
    margin-right: 30px;
    position: relative;
    width: 180px;
}

.playlist-item h3 {
    font-size: 16px;
    margin: 10px 0;
}

.playlist-item > a {
    clear: both;
    display: block;
    float: left;
    margin-right: 30px;
    width: 100px;
}

.playlist-item img {
    border-radius: 5px;
    display: block;
    width: 100px;
}

.playlist-item time {
    margin-top: 10px;
}

#starred {
    clear: both;
    display: block;
    float: left;
    margin: 20px 0 0 3px;
}

#starred li {
    float: left;
    margin: 0 5px 5px 0;
}

#starred img {
    width: 54px;
}

.mox-items {
    float: left;
    margin-top: 10px;
    width: 525px;
}

.playlist-wrapper {
    clear: both;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#share {
    clear: both;
    float: left;
    margin-top: 15px;
}

#playlist-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 820px;
}

#playlist-title > span.title {
    clear: both;
    display: block;
}

#playlist-title > span.description {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 22px;
    margin-top: 10px;
    text-transform: none;
}

#playlist-title form {
    display: inline;
    margin: 0;
}

#playlist-title form button {
    display: none;
}

#playlist-tags {
    clear: both;
    display: block;
    float: left;
    margin: 5px 0 10px;
}

#playlist-tags li {
    background-color: #32c0c9;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin: 3px 10px 3px 0;
    padding: 3px 6px;
    position: relative;
}

#playlist-tags li:hover a {
    color: #111;
}

#playlist-tags a {
    color: #fff;
}

#playlist-tags li a.delete {
    background-color: #fff;
    border-radius: 100px;
    color: #f00;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 13px;
    line-height: 13px;
    padding: 1px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -10px;
    width: 13px;
}

#playlist-tags li a.delete:hover {
    background-color: #f00;
    color: #fff;
}

#playlists {
    clear: both;
    float: left;
    margin: 20px 0;
    padding: 0;
    width: 800px;
}

#playlists li {
    box-shadow: #eee -2px 0 3px;
    border-radius: 5px;
    clear: both;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 755px;
}

#playlists li h2 {
    margin-bottom: 0;
}

#playlists li .item-actions {
    top: 4px;
}

#playlists > li a.playlist-title {
    display: block;
    line-height: 35px;
    padding: 10px 10px 3px 10px;
    text-overflow: ellipsis;
}

#playlists > li:hover {
    background-color: #f1f1f1;
}

#playlists time {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 5px;
}

#playlists li span.count {
    background-color: #ccc;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    padding: 2px 5px 0 5px;
}

#playlists li a:hover span.count {
    background-color: #e1f53d;
    box-shadow: #fff 1px 1px 0;
    color: #6f7f22;
    text-shadow: none;
}

#playlists li.item h2 {
    float: left;
    font-size: 28px;
    line-height: 50px;
    width: 570px;
}

#playlists li.item h2 .description {
    color: #333;
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px 10px 10px;
}

#playlists img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    width: 50px;
}

#moxlist {
    background-color: transparent;
    color: #333;
    counter-reset: li;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#moxlist li:before {
    background-color: #111;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    font-family: 'LeagueGothicRegular';
    left: -30px;
    padding: 5px 10px 3px 10px;
    position: absolute;
    width: 10px;
}

#moxlist.sortable {
    background-color: #f00;
    margin-top: 10px;
}

#moxlist.sortable li {
    cursor: move;
}

#moxlist.sortable li:before {
    background-color: #3ef4ff;
    border-radius: 0;
    border-bottom-right-radius: 8px;
    color: #111;
    font-size: 30px;
    left: 0;
    padding: 30px 10px 30px 10px;
    position: absolute;
    width: 20px;
}

#moxlist li {
    background-color:;
    margin-bottom: 3px;
    position: relative;
}

#moxlist li, .object-wrapper {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}

.object-wrapper iframe {
    height: 295px;
    width: 525px;
}

.item-actions {
    position: absolute;
    right: -75px;
    top: 0;
    width: 75px;
    z-index: 3;
}

.playlist-item .item-actions {
    clear: both;
    float: left;
    margin-top: 10px;
    position: relative;
    right: 0;
    text-align: center;
}

.playlist-item .item-actions a {
    border-radius: 8px;
    margin-bottom: 3px;
}

.item-actions a {
    background-color: #ff9c1c;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff4e5;
    display: block;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 1px;
    padding: 3px 3px 2px 8px;
}

.item-actions a.on {
    background-color: #3d3434;
}

.item-actions a.playlist-delete, .item-actions a.mox-delete {
    background-color: #f00;
}

.user-info {
    float: left;
    margin-top: -5px;
    width: 710px;
}

.user-info p {
    background: none;
    margin-bottom: 5px;
}

#profile-edit {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 820px;
}

#new-playlist {
    width: 550px;
}

#gravatar-wrapper {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

#gravatar-profile {
    border-radius: 5px;
    float: left;
    margin: 0 10px 10px 0;
    width: 80px;
}

#gravatar-profile-large {
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 18px;
    float: left;
    margin: 0 10px 10px 0;
    width: 100px;
}

.page-userProfile h1 {
    clear: none;
    float: left;
}

.page-userProfile .wrapper {
    padding-top: 20px;
}

p.gravatar.tip {
    display: inline;
    width: 300px;
}

#background-delete > .preview {
    border-radius: 200px;
    display: inline-block;
    height: 150px;
    margin-left: 20px;
    width: 150px;
}

#add-track, #add-tag {
    float: left;
    max-width: 525px;
}

#add-tag form {
    margin-top: -5px;
}

.off, h1#playlist-title > span.off, #edit-title.off, #edit-description.off {
    display: none;
}

#footer {
    background: rgba(17, 17, 17, 0.9);
    box-shadow: inset #111 0 3px 5px;
    bottom: 0;
    left: 0;
    min-height: 40px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

#footer a {
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    outline: none;
    text-indent: -9999px;
}

#play-playlist, #repeat-playlist {
    float: left;
    height: 26px;
    margin: 7px 0 0 15px;
    width: 26px;
}

#play-playlist {
    background-image: url('/images/play.png');
}

#play-playlist:hover, #repeat-playlist:hover,
#play-playlist.on, #repeat-playlist.on {
    background-color: transparent;
    background-position: -26px;
}

#repeat-playlist {
    background-image: url('/images/repeat.png');
}

#noodle-logo {
    background-image: url('/images/noodleindustries.png');
    float: right;
    height: 13px;
    margin: 13px 20px 0 0;
    width: 174px;
}

#pagination {
    clear: both;
    float: left;
    width: 100%;
}

#previous, #next {
    background-color: #222;
    color: #eee;
    padding: 5px 10px;
}

#previous {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    float: left;
}

#next {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    float: right;
}
